.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background: #0B0D17;
    width: 100%;
    height: 72px;
}


.discript {
    font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        align-items: center;
        justify-content: center;
        

}

.discript__link {
        color: #D9DBE1;
        transition:border-bottom 0.5s ease, color 0.5s ease;
}

.discript__link:hover {
    border-bottom: 1px solid #8C30F5;
    color:#8C30F5;
}

.social__icon {
    display:flex;
    align-items: center;
    margin-left:  auto;
    justify-content: center;
    margin-right: 16px;
    
}
.social__icon:last-child {
    margin-right: 0;
}


.social__icon__link {
transition: 0.5s ease;
}
.social__icon__link:hover {
    background: #8C30F5;
}